						<div class='fffire'>
							<p>烧烧烧烧烧&emsp;&emsp;烧烧烧烧烧&emsp;&emsp;烧烧烧烧烧</p>
							<p>烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧</p>
							<p>烧烧烧烧&emsp;&emsp;&emsp;烧烧烧烧&emsp;&emsp;&emsp;烧烧烧烧</p>
							<p>烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧</p>
							<p>烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;烧</p>
						</div> 
