<!-- footer -->
	<div id="footer">
		<div class="container">
			<p class="text-muted credit">
				2013&emsp;<%= __('SITENAME') %>&emsp;
				<span class="glyphicon glyphicon-fire firefiresmall"></span>
				&emsp;<%= __('SITETAGLINE') %>
			</p>
		</div>
	</div>

<!-- Bootstrap-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/functions.js"></script>
</body>
</html>