<%-include header%>
<%-include navbar%>
	
<!-- main -->
	<div class="container" id='wrap'>
		<div id="special">
			<h1 style="text-align: center">
				<span class='FFFshort'>FFF特殊传送</span><br />
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<table class="table table-hover">
				<thead>
					<tr>
						<th class='recordtd-id'>记录名称</th>
						<th class="record-long">长域名</th>
						<th class="record-short">短域名代码</th>
						<th>有罪？</th>
						<th>异端！</th>
					</tr>
				</thead>
				<tbody>
			<!-- records start -->
				<!-- idn means record-id-namber -->
					<tr id="record-row-idn">
						<td class='recordtd-id' id='record-id-idn'>fffname</td>
						<td class='recordtd-long' id='record-long-idn'>ffflong</td>
						<td class='recordtd-short' id='record-short-idn'>fffshort</td>
						<td>
							<button type="submit" class="btn btn-info btn-xs" id='change-record-idn'>更改</button>
							<button type="submit" class="btn btn-success btn-xs" id='do-change-record-idn' style='display: none'>确认</button>
						</td>
						<td>
							<button type="submit" class="btn btn-danger btn-xs" id='fire-record-idn'>死刑！</button>
						</td>
					</tr>
			<!-- records end -->
				</tbody>
			</table>
			<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
		</div>
	</div><!-- /.container -->
	
<%-include footer%>