<%-include header%>
<%-include navbar%>
	
<!-- main -->
	<div class="container" id='wrap'>
		<div id="special">
			<h1 style="text-align: center">
				<span class='FFFshort'>FFF特殊传送</span><br />
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<table class="table table-hover">
				<thead>
					<tr>
						<th class='user-id'>用户名称</th>
						<th class="user-mail">用户邮箱</th>
						<th class="user-permissions">用户权限</th>
						<th>有罪？</th>
						<th>异端！</th>
					</tr>
				</thead>
				<tbody>
			<!-- records start -->
				<!-- idn means user-id-namber -->
					<tr id="user-row-idn">
						<td class='usertd-id' id='user-id-idn'>fffname</td>
						<td class='usertd-mail' id='user-mail-idn'>ffflong</td>
						<td class='usertd-permissions' id='user-permissions-idn'>fffshort</td>
						<td>
							<button type="submit" class="btn btn-info btn-xs" id='change-user-idn'>更改</button>
							<button type="submit" class="btn btn-success btn-xs" id='do-change-user-idn' style='display: none'>确认</button>
						</td>
						<td>
							<button type="submit" class="btn btn-danger btn-xs" id='fire-user-idn'>死刑！</button>
						</td>
					</tr>
			<!-- records end -->
				</tbody>
			</table>
			<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
			<button type="submit" class="btn btn-default" id='new-user'>新增用户</button>
		</div>
	</div><!-- /.container -->
	
<%-include footer%>